{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<style type="text/css">

  html, body {
      max-width: 100%;
      overflow-x: hidden;
  }
  
  body {
      background-color: white;
      color: #000000;
  }

  h1 {
      padding-top: 20px;
      padding-bottom: 20px;
      color: #007bff;
  }
  div {
      text-align: center;
  }
  h2 {
      padding-bottom: 60px;
      color: #007bff;
  }
  .column {
      float: left;
      width: 25%;
      padding: 0 10px;
  }
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;
      align-content: center;}
  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  /* Style the counter cards */
  .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
      text-align: center;
      background-color: #f1f1f1;
  }

  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
  .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
  }
  }

</style>
{% if user.is_authenticated %}
{% if messages %}
   {% for message in messages %}
    <script>
        alert('{{ message }}');
    </script>
   {% endfor %}
{% endif %}
<div>
  <h1>Bienvenido a "MI PRIMERA BASE DE DATOS"</h1>
  <h2>¿ Qué desea hacer ?</h2>
  <div class="row justify-content-center">
          <div class="column">
            <div class="card">
              <div class="card-body">Dar de alta un contacto a "{{user.organizacion}}"</div>
              <div class="card-footer"><button type="button" class="btn btn-primary" onclick="location.href='{% url 'crear_contacto' %}'">Nuevo Contacto</button></div>
            </div>
          </div>
        
          <div class="column">
            <div class="card">
                  <div class="card-body">Ver las cuentas pertenecientes a "{{user.organizacion}}""</div>
                  <div class="card-footer"><button type="button" class="btn btn-primary"  onclick="location.href='{% url 'ver_cuentas' %}'">Ver Cuentas</button></div>
            </div>
          </div>
          
          <div class="column">
            <div class="card">
                  <div class="card-body">Setear los campos personalizados de "{{user.organizacion}}"</div>
                  <div class="card-footer"><button type="button" class="btn btn-primary" onclick="location.href='{% url 'campos_custom' %}'">Configurar Campos</button></div>
            </div>
          </div>
        </div>
</div>
{% endif %}
{% endblock %}

