{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body %}
{% load staticfiles %}

<style type="text/css">
  
  html, body {
    height: 100%;
  }

  body {
    padding: 15px;
    width: 40%;
    margin: auto;
    background-image: url('{% static "fondo.jpg"%}');
  }

  .main {
      height: 100%;
      width: 100%;
      display: table;
  }

  .wrapper {
    background-color: white;
    display: table-cell;
    vertical-align: middle;
    border: 3px solid #1b68ff; 
    border-radius:20px;
    text-align: center;
  }

  form {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }

  button:disabled {
    cursor: not-allowed;
  }

</style>

<div class="main">
  <div class="wrapper">
    <img src="{% static "wingu_logo.png" %}" alt="Not found">
    <h2>Mi primera Base de Datos</h2>
    <form method="post" class="was-validated">
      {% csrf_token %}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}

      {% for field in form.visible_fields %}
        <div class="form-group">

          {% if form.is_bound %}
            {% if field.errors %}
              {% render_field field class="form-control is-invalid" %}
              {% for error in field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            {% else %}
              {% render_field field class="form-control is-valid" %}
            {% endif %}
          {% else %}
            {% render_field field class="form-control" %}
          {% endif %}

          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
      {% endfor %}

      <div>
        <input onclick="validacionTyC()" id="checkTyC" type="checkbox" class="form-check-input" value="">  <a href="#">Términos y Condiciones</a></input>
      </div>

      <div class="text-center" style="padding-top: 10px;">
        <button id="btnIngresar" type="submit" class="btn btn-success" style="background-color: #1b68ff; border: #1b68ff" disabled>Ingresar</button>
      </div>
      
    </form>

  </div>
</div>

<script>
function validacionTyC() {
  if ($("#checkTyC").is(":checked")) { 
    $('#btnIngresar').attr("disabled", false);
  } else { 
    $("#btnIngresar").attr("disabled", true);
  } 
}
</script>

{% endblock %}




