{% extends "base.html" %}

{% block body %}
	<h1>Contactos</h1>

	<table class="table table-striped table-hover ">
		<thead class="thead-dark">
			<tr>
				<th>Nombre</th>
				<th>Email</th>
				<th>Direccion</th>
				<th>Telefono</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for contacto in genericos %}
			<tr>
				<td>{{ contacto.nombre }}</td>
				<td class="tdCenter">{{ contacto.email }}</td>
				<td class="tdCenter">{{ contacto.direccion }}</td>
				<td class="tdCenter">{{ contacto.telefono }}</td>
				<td class="tdCenter">
					<a class="btn btn-secondary" href="{% url "editar_contacto"  contacto.id  %}">Editar</a>
					<a class="btn btn-danger" href="{% url "eliminar_contacto"  contacto.id  %}">Eliminar</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<h2>Donantes</h2>
	<table class="table table-striped table-hover ">
		<thead class="thead-dark">
			<tr>
				<th>Nombre</th>
				<th>Email</th>
				<th>Direccion</th>
				<th>Telefono</th>
				<th>Cuenta bancaria</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for contacto in donantes %}
			<tr>
				<td>{{ contacto.nombre }}</td>
				<td class="tdCenter">{{ contacto.email }}</td>
				<td class="tdCenter">{{ contacto.direccion }}</td>
				<td class="tdCenter">{{ contacto.telefono }}</td>
				<td class="tdCenter">{{ contacto.cuentaBanco }}</td>
				<td class="tdCenter">
					<a class="btn btn-secondary" href="{% url "editar_contacto"  contacto.id  %}">Editar</a>
					<a class="btn btn-danger" href="{% url "eliminar_contacto"  contacto.id  %}">Eliminar</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<h2>Voluntarios</h2>
	<table class="table table-striped table-hover ">
		<thead class="thead-dark">
			<tr>
				<th>Nombre</th>
				<th>Email</th>
				<th>Direccion</th>
				<th>Telefono</th>
				<th>Barrio</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for contacto in voluntarios %}
			<tr>
				<td>{{ contacto.nombre }}</td>
				<td class="tdCenter">{{ contacto.email }}</td>
				<td class="tdCenter">{{ contacto.direccion }}</td>
				<td class="tdCenter">{{ contacto.telefono }}</td>
				<td class="tdCenter">{{ contacto.barrio }}</td>
				<td class="tdCenter">
					<a class="btn btn-secondary" href="{% url "editar_contacto"  contacto.id  %}">Editar</a>
					<a class="btn btn-danger" href="{% url "eliminar_contacto"  contacto.id  %}">Eliminar</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	
	<div class="row">

		<div class="col-md-9">
		</div>

		<div class="col-md-3">
			<a class="btn btn-success" href="{% url "crear_contacto"  %}">Agregar nuevo contacto</a>
		</div>

	</div>
{% endblock %}




