<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load bootstrap4 %}
	{% bootstrap_css %}
</head>
<body>
	<h1>Contactos</h1>

	<table class="table table-striped table-hover ">
		<thead class="thead-dark">
			<tr>
				<th>Nombre</th>
				<th>Email</th>
				<th>Direccion</th>
				<th>Telefono</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for contacto in mis_contactos %}
			<tr>
				<td>{{ contacto.nombre }}</td>
				<td>{{ contacto.email }}</td>
				<td>{{ contacto.direccion }}</td>
				<td>{{ contacto.telefono }}</td>
				<td>
					<a class="btn btn-danger" href="{% url "eliminar_contacto"  contacto.id  %}">Eliminar</a>
				</td>
			</tr>

			{% endfor %}
		</tbody>
	</table>

	<div class="row">

		<div class="col-md-9">
		</div>

		<div class="col-md-3">
			<a class="btn btn-success" href="{% url "crear_contacto"  %}">Agregar nuevo contacto</a>
		</div>

	</div>

	{% bootstrap_javascript jquery='full' %}
</body>
</html>




