{% extends "base.html" %}

{% block body %}
<p id="tipoContacto" style="display: none">{{ contacto.tipo }}</p>
<form style="padding: 15px;" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div>
        <p>Seleccione en el caso de que corresponda el tipo de Contacto</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkDonante" value="Donante">
            <label class="form-check-label" for="checkDonante">Donante</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkVoluntario" value="Voluntario">
            <label class="form-check-label" for="checkVoluntario">Voluntario</label>
        </div>
    </div>

    <div id="divDonante" style="display: none;">
            <h1>Donante</h1>
            {{ donante.as_p }}
    </div>
    <div id="divVoluntario" style="display: none;">
        <h1>Voluntario</h1>
        {{ voluntario.as_p }}
    </div>

    <div>
        <input class="btn btn-success" type="submit" value="Guardar" />       
    </div>

</form>

{% endblock %}