{% extends "base.html" %}

{% block body %}

<style type="text/css">
    
    .col-lg-4 input, .col-lg-4 select {
        width: 90%;
    }

    .col-lg-4 input {

    }

    .col-lg-4 .btn {
        width: 50%;
    }

    p {
        margin-top: 10px;
        margin-bottom: 5px;
    }

</style>

<form style="padding: 15px;" action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <h2> {{ "Gestión de Contactos / "|add:accion }} </h2>

    <div class="row">
        <div class="col-lg-4">
            {{ form.nombre.errors }}
            <label for="{{ form.nombre.id_for_label }}">Nombre *</label>
            {{ form.nombre }}
        </div>

        <div class="col-lg-4">
            {{ form.apellido.errors }}
            <label for="{{ form.apellido.id_for_label }}">Apellido *</label>
            {{ form.apellido }}
        </div>

        <div class="col-lg-4">
            {{ form.sexo.errors }}
            <label for="{{ form.sexo.id_for_label }}">Género</label>
            {{ form.sexo }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            {{ form.cargo.errors }}
            <label for="{{ form.cargo.id_for_label }}">Cargo</label>
            {{ form.cargo }}
        </div>

        <div class="col-lg-4">
            {{ form.documento.errors }}
            <label for="{{ form.documento.id_for_label }}">Documento</label>
            {{ form.documento }}
        </div>

        <div class="col-lg-4">
            {{ form.fecha_de_nacimiento.errors }}
            <label for="{{ form.fecha_de_nacimiento.id_for_label }}">Fecha de nacimiento *</label>
            {{ form.fecha_de_nacimiento }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            {{ form.ocupacion.errors }}
            <label for="{{ form.ocupacion.id_for_label }}">Ocupación</label>
            {{ form.ocupacion }}
        </div>

        <div class="col-lg-4">
            {{ form.cuenta.errors }}
            <label for="{{ form.cuenta.id_for_label }}">Cuenta</label>
            {{ form.cuenta }}
        </div>

        <div class="col-lg-4">
            <p>Perfil de voluntariado</p>
            ESTADO INDEFINIDO!!!
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">Email *</label>
            {{ form.email }}
        </div>

        <div class="col-lg-4">
            {{ form.email_alternativo.errors }}
            <label for="{{ form.email_alternativo.id_for_label }}">Email alternativo</label>
            {{ form.email_alternativo }}
        </div>

        <div class="col-lg-4">
            <p> . </p>
            TURNO INDEFINIDO!!!
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            {{ form.telefono.errors }}
            <label for="{{ form.telefono.id_for_label }}">Teléfono</label>
            {{ form.telefono }}
        </div>

        <div class="col-lg-4">
            <p>Dirección</p>
            DIRECCIÓN INDEFINIDO!!!
        </div>

        <div class="col-lg-4">
            <p> . </p>
            HABILIDADES INDEFINIDO!!!
        </div>
    </div>

        <div class="row">
        <div class="col-lg-4">
            {{ form.origen.errors }}
            <label for="{{ form.tipo.id_for_label }}">Origen</label>
            {{ form.origen }}
        </div>

        <div class="col-lg-4">
            {{ form.tipo.errors }}
            <label for="{{ form.tipo.id_for_label }}">Tipo *</label>
            {{ form.tipo }}
        </div>

        <div class="col-lg-4">
        </div>
    </div>

<!--     <div id="divDonante" style="display: none;">
        <h1>Donante</h1>
        {{ donante.as_p }}
    </div>
    <div id="divVoluntario" style="display: none;">
        <h1>Voluntario</h1>
        {{ voluntario.as_p }}
    </div> -->

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-right">
            <input class="btn btn-success" type="submit" value="Guardar" style="margin-top: 10px; margin-right: 40px;" /> 
        </div>     
    </div>

</form>

{% endblock %}