{% extends "base.html" %}

{% block body %}

<style type="text/css">
    
    .col-lg-4 input, .col-lg-4 select {
        width: 90%;
    }

    .col-lg-4 input {

    }

    .col-lg-4 .btn {
        width: 50%;
    }

    p {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    #id_direccion, #id_ciudad {
        width: 65%;
    }

    #id_numero, #id_cod_postal {
        width: 25%
    }

    #id_observaciones {
        width: 97%;
        height: 100px;
    }

</style>

<form style="padding: 15px;" action="" method="post">
    {% csrf_token %}

    <h2> {{ "Gestión de Contactos / "|add:accion }} </h2>

    <div class="row">
        <div class="col-lg-4">
            {{ form.nombre.errors }}
            <label for="{{ form.nombre.id_for_label }}">Nombre *</label>
            {{ form.nombre }}
        </div>

        <div class="col-lg-4">
            {{ form.apellido.errors }}
            <label for="{{ form.apellido.id_for_label }}">Apellido *</label>
            {{ form.apellido }}
        </div>

        <div class="col-lg-4">
            {{ form.sexo.errors }}
            <label for="{{ form.sexo.id_for_label }}">Género</label>
            {{ form.sexo }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            {{ form.cargo.errors }}
            <label for="{{ form.cargo.id_for_label }}">Cargo</label>
            {{ form.cargo }}
        </div>

        <div class="col-lg-4">
            {{ form.documento.errors }}
            <label for="{{ form.documento.id_for_label }}">Documento</label>
            {{ form.documento }}
        </div>

        <div class="col-lg-4">
            {{ form.fecha_de_nacimiento.errors }}
            <label for="{{ form.fecha_de_nacimiento.id_for_label }}">Fecha de nacimiento</label>
            {{ form.fecha_de_nacimiento }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            {{ form.ocupacion.errors }}
            <label for="{{ form.ocupacion.id_for_label }}">Ocupación</label>
            {{ form.ocupacion }}
        </div>

        <div class="col-lg-4">
            {{ form.cuenta.errors }}
            <label for="{{ form.cuenta.id_for_label }}">Cuenta</label>
            {{ form.cuenta }}
        </div>

        <div class="col-lg-4" style="white-space:nowrap">
            {{ form.es_voluntario.errors }}
            <label for="{{ form.es_voluntario.id_for_label }}">Perfil Voluntariado</label>
            {{ form.es_voluntario }}
            <div>
                {{ form.estado }}
            </div>
        </div>
        
    </div>


    <div class="row">
        <div class="col-lg-4">
            <label for="{{ form.email.id_for_label }}">Email *</label>
            {{ form.email }}
        </div>

        <div class="col-lg-4">
            {{ form.email_alternativo.errors }}
            <label for="{{ form.email_alternativo.id_for_label }}">Email alternativo</label>
            {{ form.email_alternativo }}
        </div>

        <div class="col-lg-4">
            {{ form.turno.errors }}
            <label for="{{ form.turno.id_for_label }}"></label>
            <div>{{ form.turno }}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            {{ form.telefono.errors }}
            <label for="{{ form.telefono.id_for_label }}">Teléfono</label>
            {{ form.telefono }}
        </div>

        <div class="col-lg-4">
            {{ form.direccion.errors }}
            <label for="{{ form.direccion.id_for_label }}">Dirección</label><br>
            {{ form.direccion }}
        </div> 

        <div class="col-lg-4">
            {{ form.habilidades.errors }}
            <label for="{{ form.habilidades.id_for_label }}"></label>
            <div>{{ form.habilidades }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ form.ciudad.errors }}
            <label for="{{ form.ciudad.id_for_label }}">Ciudad</label><br>
            {{ form.ciudad }}
            {{ form.cod_postal }}
        </div> 
        <div class="col-lg-4">
            {{ form.movil.errors }}
            <label for="{{ form.telefono.id_for_label }}">Móvil</label>
            {{ form.movil }}
        </div> 
        <div class="col-lg-4">
            {{ form.pais.errors }}
            <label for="{{ form.pais.id_for_label }}">País</label><br>
            {{ form.pais }}
        </div> 
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ form.origen.errors }}
            <label for="{{ form.origen.id_for_label }}">Origen</label>
            {{ form.origen }}
        </div>

        <div class="col-lg-4">
            {{ form.categoria.errors }}
            <label for="{{ form.tipo.id_for_label }}">Tipo *</label><br>
            {{ form.categoria }}
        </div>

        <div class="col-lg-4">
            {{ form.recibir_novedades.errors }}
            <label for="{{ form.recibir_novedades.id_for_label }}">¿Desea recibir novedades?</label>
            {{ form.recibir_novedades }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {{ form.observaciones.errors }}
            <label for="{{ form.observaciones.id_for_label }}">Observaciones</label><br>
            {{ form.observaciones }}
        </div>
    </div>

    <div class="row" style="padding-right: 20px; padding-left: 10px;">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2" style="padding-left: 2px; padding-right: 2px;">
            <a class="btn btn-secondary" style="margin-top: 10px; margin-right: 40px;" href="/contactos">Volver</a>
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2" style="padding-left: 2px; padding-right: 2px;">
            <input class="btn btn-success" type="submit" value="Guardar" style="margin-top: 10px; margin-right: 40px;" /> 
        </div>
    </div>

</form>

{% endblock %}