{% extends "base.html" %}

{% block body %}
	<style type="text/css">
		.tdCenter {
			text-align: center;
		}
	</style>

	<h2>Cuentas</h2>
	<div class="form-group mb-4 col-lg-6">
            <form type="get" action="." style="margin: 0">
                <input  id="search_box" type="text" name="query"  placeholder="¿Qué está buscando?">
                <button id="search_submit" type="submit" >Buscar</button>
            </form> 
    </div>
	<table class="table table-striped table-hover ">
		<thead class="thead-dark">
			<tr>
				<th class="tdCenter">Nombre</th>
				<th class="tdCenter">Tipo</th>
				<th class="tdCenter">Mail</th>
				<th class="tdCenter">Teléfono</th>
				<th class="tdCenter">Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for cuenta in mis_cuentas %}
			<tr>
			<td>{{ cuenta.nombre }}</td>
			<td class="tdCenter">-</td>
			<td class="tdCenter">{{ cuenta.email }}</td>
			<td class="tdCenter">{{ cuenta.telefono }}</td>
			<td class="tdCenter">
				<a class="btn btn-primary" href="{% url 'cuentas_detalles'  cuenta.id  %}">Detalles</a>
				<a class="btn btn-secondary" href="{% url 'cuentas_contactos' cuenta.id %}">Ver contactos</a>
			</td>
			</tr>

			{% endfor %}
		</tbody>
	</table>
{% endblock %}




