{% extends "base.html" %}

{% block body %}
	<h1>Custom</h1>

	<h2>Campos de Contacto</h2>
	<table class="table table-striped table-hover " style="width: 18rem;">
		<thead class="thead-dark">
			<tr>
				<th>Género</th>
			</tr>
		</thead>
		<tbody>
			{% for campo in camposexo %}
			<tr>
			<td>{{ campo.sexo }}</td>
			<td class="tdCenter">
					<a class="btn btn-danger" href="{% url "eliminar_campos_custom"  campo.id  %}">Eliminar</a>
				</td>
			</tr>

			{% endfor %}
		</tbody>
	</table>
{% endblock %}